{% extends 'aplicacion/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{% static '/aplicacion/css/nuevo_juego.css' %}">
{% endblock %}



{% block contenido %}
<br>
<h2 align="center">Contactanos!</h2>
        <form action="" class="formulario_contacto" method="post">

                {% csrf_token %}
                
                {{ form|crispy }}
        

        <br>
        <button type="submit" id="btnEnviar" class="button">Enviar</button>


        </form>
        {{mensaje}}

        <table id="tablacontactos">
        
        </table>
{% endblock %}