{% extends 'aplicacion/base.html' %}

{% load static %}

{% block css%}
{% endblock %}

{% block contenido %}
<hr>  
<div class="list-group ">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Cliente
    </a>
    <a href="{% url 'listar_cliente' %}" class="list-group-item list-group-item-action">Listar Cliente</a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Juego
    </a>
    <a href="{% url 'juego_inicio' %}" class="list-group-item list-group-item-action">Listar Juego</a>
    <a href="{% url 'agregar_juego' %}" class="list-group-item list-group-item-action">Agregar Juego</a>
</div>
{% endblock %}