select{
  border: [border-width] [border-style] [border-color];
}

.borde{
  border: 1px solid white;
  
}

@media screen and (max-width: 2560px) and (min-width: 1024px) {
  form {
      margin-left: 25%;
      margin-right: 25%;
      margin-top: 3%;
      margin-bottom: 3%;
      padding-bottom: 3%;
  }
}

* {
  box-sizing: border-box
}

.container {
  padding: 16px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;

}