* {
  box-sizing: border-box;
}

.container-fluid{
  width: 100%;
}
body {
  color: white !important;
  background-image: url("../imagenes/fondo.jpg") ;
  font-family: 'Aclonica' !important;
  margin-top: 0% !important;
  margin-bottom: 25% !important ;
  z-index: -1000 !important;
  height: 100% !important;
  
}

.card:hover {
  width: 105%; /* Cambia el ancho cuando el cursor está sobre el elemento */
  height: 105%; /* Cambia la altura cuando el cursor está sobre el elemento */
  color: azure;
}
/* Float four columns side by side */
.column {
  float: left !important;
  width: 25% !important;
  padding: 0 15px !important;
  margin-top: 2% !important;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px !important;
}

.imageCard {
  width: 100% !important;
  height: 100% !important;
  z-index: 1000 !important;
  border-radius: 10px !important;
}

/* Clear floats after the columns */
.row:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100% !important;
    display: block !important;
    margin-bottom: 20px !important;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)!important ;
  height: 400px!important ;
  text-align: center !important;
  background-color: transparent!important ;
}

/*INICIO TOOL TIPS*/
.tooltipNo {
  display: inline-block !important;
  border-bottom: 1px dotted black ;
}

.tooltipNo .tooltiptext {
  visibility: hidden  !important;
  width: 200px !important;
  background-color: white !important;
  color: black !important;
  text-align: center !important;
  border-radius: 6px !important;
  padding: 5px 0 !important;

  /* Position the tooltip */
}

.tooltipNo:hover .tooltiptext {
  visibility: visible !important;
}

/* FIN TOOL TIPS*/