
body {background-image: url("../imagenes/fondo.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    }


.tarjeta {background-image: url("../imagenes/fondo.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    } 

