* {
    box-sizing: border-box !important;

}

/* Style the body */
body {
    font-family: 'Aclonica' !important;
    margin: 0 !important;
    background-image: url(../imagenes/fondo.jpg)!important;
    margin-top: 0%!important;
    

}

.side h2 {
    font-size: 30px !important;
}

.side h1 {
    font-size: 25px !important;
}

.side h3 {
    font-size: 20px !important;
    color: orangered !important;
}

.main h1 {
    font-size: 60px !important;
    color: powderblue !important;
}

.main p {
    font-size: 20px !important;
    color: white !important;
}

.main h2 {
    font-size: 30px !important;
    color: white !important;
}



/* Header/logo Title */
.header {
    
    margin-top:0%!important;
    padding: 15% !important;
    text-align: center !important;
    background: #1abc9c !important;
    color: black !important;
    background-image: url(../imagenes/portadaWowB.webp)!important;
    
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 80px !important;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden !important;
    background-color: teal !important;
}

/* Style the navigation bar links */
.navbar a {
    float: left !important;
    display: block !important;
    color: white !important;
    text-align: center !important;
    padding: 14px 20px !important;
    text-decoration: none !important;
}

/* Right-aligned link */
.navbar a.right {
    float: right !important;

}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd !important;
    color: black !important;
}

/* Column container */
.row {
    background-image: url(../imagenes/fondo.jpg)!important;
    background-image: none!important;
    display: -ms-flexbox !important;
    /* IE10 */
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    /* IE10 */
    flex-wrap: wrap !important;
    margin-top: 0%!important;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    
    -ms-flex: 30% !important;
    /* IE10 */
    flex: 30% !important;
    background-color: #f1f1f1 !important;
    padding: 20px !important;
    background-color: black !important;
    color: white !important;
    margin-top: 0%!important;
}

/* Main column */
.main {
    -ms-flex: 70% !important;
    /* IE10 */
    flex: 70% !important;
    background-color: white !important;
    padding: 20px !important;
    background-image: url(../imagenes/fondo.jpg)!important;
    color: white !important;
    margin-top: 0%!important;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa !important;
    height: 300px !important;
    background-image: url(../imagenes/wowimageb.jpg)!important;
    background-position: center !important;
    background-size: cover !important;


}

.fakeimg1 {
    background-color: #aaa !important;
    height: 300px !important;
    background-image: url(../imagenes/hordab.webp)!important;
    background-position: center !important;
    background-size: cover !important;


}

.fakeimg2 {
    background-color: #aaa !important;
    height: 300px !important;
    background-image: url(../imagenes/alianzab.webp)!important;
    background-position: center !important;
    background-size: cover !important;

}

.fakeimg3 {
    background-color: #aaa !important;
    height: 300px !important;
    background-image: url(../imagenes/alianzawow.png)!important;
    background-size: cover !important;

}

.fakeimg4 {
    background-color: #aaa !important;
    height: 300px !important;
    background-image: url(../imagenes/hordawow.png)!important;
    background-position: center !important;
    background-size: cover !important;


}

.fakeimg5 {
    background-color: #aaa !important;
    height: 300px !important;
    background-image: url(../imagenes/aliado1.png)!important;
    background-position: center !important;
    background-size: cover !important;


}

.fakeimg6 {
    background-color: #aaa !important;
    height: 300px !important;
    background-image: url(../imagenes/aliado2.png)!important;
    background-position: center !important;
    background-size: cover !important;
}


/* Footer */
.footer {
    padding: 20px !important;
    text-align: center !important;
    background: #ddd !important;
    background-color: teal !important;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column !important;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none !important;
        width: 100% !important;
    }

    .fakeimg5 {

        width: 50% !important;
        height: 50% !important;
    }

    .fakeimg6 {

        width: 50% !important;
        height: 50% !important;
    }


}


.comprarbtn {
    padding: 14px 20px !important;
    background-color: #f44336 !important;
    color: white !important;
    font-size: 20px !important;

}