{% extends 'aplicacion/base.html' %}

{% load crispy_forms_tags %}

{% load static %}


{%block contenido%}
<br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div style="background-color: rgb(30, 28, 28);" class="card">
                <div class="card-body">
                    <h2>Ingreso de Usuario</h2>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <input type="submit" value="Ingresar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}


